.places {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 45px auto;
	text-align: center;
}

article {
	display: flex;
	width: 390px;
	flex: none;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;

	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 40px;
	margin: 20px;

	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.headline {
	display: flex;
	flex-direction: row;
	position: relative;

	height: 80px;	
	width: 100%;
}

.price_by_night {

