.places {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 45px auto;
	text-align: center;
}

article {
	display: flex;
	width: 390px;
	flex: none;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;


